---
// Static redirect to English home page
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <link rel="canonical" href="/en/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en/">English</a>...</p>
  </body>
</html>
