---
// Static redirect to English home page
---

<html>
  <head>
    <meta charset="UTF-8" />
    <script is:inline>window.location.replace('/en/');</script>
    <link rel="canonical" href="/en/" />
    <title>Nepal Health Policy Lab</title>
  </head>
  <body></body>
</html>
